<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestAccount.DataAccessLayer.Properties.Settings.TestDbConnectionString"
            connectionString="Data Source=SAMER\SQL2008;Initial Catalog=TestDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>